.stageBtnContainer {
  position: relative;
  height: clamp(11.375rem, 48.5vw, 24.6875rem);
  display: grid;
  justify-items: center;
  align-items: end;
  grid-template-rows: 1fr min-content;
  gap: clamp(1.0625rem, 4.5vw, 3.9375rem);
}

.stageBtn {
  font-size: clamp(1rem, 4.27vw, 1.477812rem);
  align-self: center;
}

.stageTitle {
  height: min-content;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  color: var(--clr-font-primary);
  font-size: clamp(0.9375rem, 4vw, 1.5rem);
  line-height: 2rem;
  letter-spacing: clamp(0.117188rem, 0.5vw, 0.1875rem);
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196);
  text-transform: uppercase;
}

/* .winEffect::before {
  content: '';
  position: absolute;
  left: calc(-438px / 2);
  top: calc(-426px / 2);
  transform: translate(-25%, -25%);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 170px,
    rgba(255, 255, 255, 0.06) 170px,
    rgba(255, 255, 255, 0.06) 212px,
    rgba(255, 255, 255, 0.04) 212px,
    rgba(255, 255, 255, 0.04) 282px,
    rgba(255, 255, 255, 0.02) 282px
  );
  width: 730px;
  height: 718px;
  border-radius: 50%;
  overflow: hidden;
  z-index: -9999;
} */

@media screen and (min-width: 62.5em) {
  .stageBtnContainer {
    grid-template-rows: min-content 1fr;
  }
  .stageTitle--EmptyBtn {
    margin-right: clamp(1.216875rem, 5.19vw, 2.144062rem);
  }

  .containerOrder {
    order: 2;
  }
  .stageBtn {
    order: 2;
  }
  .stageTitle {
    order: 1;
  }
}
